	table tr td{
	border: 1px solid black;
	font-family: Bodoni MT Black;
}

table{
	width: 80%;
	margin: auto;
}

h1{
	font-family: Bernard MT Condensed;
}

h2{
	font-family: Bernard MT Condensed;
}